{% extends "base/html/base.html" %}

{% load static %}

{% block title %}Change password - Project Avalon{% endblock %}

{% block css %}
<!-- CUSTOM PAGE STYLES -->
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}

{% block content %}
<!-- CHANGE PASSWORD SECTION -->
<div class="container my-20" data-aos="fade-up">
    <h1 class="mb-20">Change password</h1>
    <!-- FORM -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="submit-profile" class="btn-standard content-btn success mb-20 mt-20">Submit</button>
    </form>
</div>
{% endblock %}
