{% extends "base/html/base.html" %}

{% load static %}

{% block title %}Reset password - Project Avalon{% endblock %}

{% block content %}
<!-- RESET PASSWORD SECTION -->
<div class="form-page">
    <div class="form sign-up fade-in-top">
        <h2 class="heading">Reset password</h2>
        <!-- FORM -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    // Locate and move default error message positions
    $("li").each(function(index) {
        var errorText = $(this).text();
        if (errorText == "Enter a valid email address.") {
            $(this).parent().remove();
            $("#id_email").after("<p class='error-text fade-in'>" + errorText + "</p>");
            $("#id_email").delay(200).queue(function() {
                $(this).addClass('red-border');
            });
            $("#id_email").focus(function() {
                $("#id_email").removeClass('red-border');
            });
        }
    });
</script>
{% endblock %}
