{% extends "base/html/base.html" %}

{% load static %}

{% block title %}Password reset sent - Project Avalon{% endblock %}

{% block content %}
<!-- POST-PASSWORD SENT SECTION -->
<div class="container my-20">
    <!-- MESSAGE -->
    <p>
        Password reset sent.<br>
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
    </p>
    <a href="{% url 'main:home' %}">Return to home</a>
</div>
{% endblock %}
